h1 {
    margin-top: 10%;
}

.bruh {
    position: absolute;
    width:101%;
    height:99%;
    z-index: 99999999999;
    margin-left:-73%;
}
.v {
    width:46%;
    margin-left:27%;
    height:32%;
}